<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>WiFi Auditor</title>

      <!-- Bootstrap files  -->
      <link rel="stylesheet" href="{{url_for('static',filename='lib/bootstrap.min.css')}}">

      <!-- jQuery library -->
      <script src="{{url_for('static',filename='lib/jquery.min.js')}}"></script>

      <script src="{{url_for('static',filename='lib/bootstrap.min.js')}}"></script>

      <link href="{{url_for('static',filename='lib/bootstrap-toggle.min.css')}}" rel="stylesheet">
      <script src="{{url_for('static',filename='lib/bootstrap-toggle.min.js')}}"></script>

      <!-- Our Custom CSS -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sidebar.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/layout.css') }}">
      <script type=text/javascript  src="{{ url_for('static', filename='js/init.js') }}"></script>

      <script>

         $(document).ready(function () {
             $('#sidebarCollapse').on('click', function () {
                 $('#sidebar').toggleClass('active');
             });

             $('#myModal').on('show.bs.modal', function (event) {
               var button = $(event.relatedTarget) // Button that triggered the modal
               var recipient = button.val() // Extract info from data-* attributes
               var modal = $(this)
               modal.find('.modal-title').text('New message to ' + recipient)
            })

          });

         function restart_server() {
           $.ajax({
             url: "/restart_server"
           });
           // Wait 1 second and reload page
           setTimeout(function(){
             window.location = document.URL;
           }, 1000);
         }

         function shutdown_server() {
           $.ajax({
             url: "/shutdown_server"
           });
           // Wait 1 second and reload page
           setTimeout(function(){
             window.location = "/logout";
           }, 1000);
         }


      </script>

      {% block head %}
      {% endblock %}

   </head>
   <body>
      <div class="wrapper">
         <!-- Sidebar Holder -->
         <nav id="sidebar" >
            <div class="sidebar-header">
               <h3>WiFi ACE <i class="glyphicon glyphicon-fire"></i></h3>
               <strong><i class="glyphicon glyphicon-fire"></i></strong>
            </div>
            <ul class="list-unstyled components">

               <li class="active">
                  <a href="{{ url_for('dashboard.show_dashboard') }}">
                  <i class="glyphicon glyphicon-home"></i>
                  Dashboard
                  </a>
              </li>
              <li>
                  <a href="{{ url_for('recon.show_recon') }}">
                  <i class="glyphicon glyphicon-eye-open"></i>
                  Recon
                  </a>
              </li>

              <li>
                  <a href="#rougeapSubmenu" data-toggle="collapse" aria-expanded="false">
                  <i class="glyphicon glyphicon-console"></i>
                  RougeAP options
                  </a>
                  <ul class="collapse list-unstyled" id="rougeapSubmenu">
                     <li><a href="{{ url_for('rougeap.show_rougeap') }}">Setup RougeAP</a></li>
                     <li><a href="{{ url_for('clients.show_clients') }}">Clients</a></li>
                  </ul>
               </li>

               <li>
                   <a href="#pluginSubmenu" data-toggle="collapse" aria-expanded="false">
                   <i class="glyphicon glyphicon-briefcase"></i>
                     Plugins
                   </a>
                   <ul class="collapse list-unstyled" id="pluginSubmenu">
                      <li><a href="{{ url_for('ace_plugins.show_plugins') }}">manage plugins</a></li>
                      {% for i in range(navbar|length) %}
                        <li> <a href="{{ navbar[i]['url'] }}"> {{ navbar[i]['name'] }} </a> </li>
                      {% endfor %}
                   </ul>
                </li>


               <li>
                  <a href="{{ url_for('logger.show_logger') }}">
                  <i class="glyphicon glyphicon-folder-open"></i>
                  Logger
                  </a>
               </li>
               <li>
                  <a href="{{ url_for('networking.show_networking') }}">
                  <i class="glyphicon glyphicon-sort"></i>
                  Networking
                  </a>
               </li>

               <li>
                  <a href="{{ url_for('settings.show_settings') }}">
                  <i class="glyphicon glyphicon-cog"></i>
                   Settings
                   </a>
              </li>

               <li>
                 <a href="https://bitbucket.org/a5hish/wifiace/wiki/Home" target="_blank">
                 <i class="glyphicon glyphicon-info-sign"></i>
                 Help
                 </a>
              </li>

              <li id="logout-nav">
                <hr>
                <a href="https://bitbucket.org/a5hish/wifiace/wiki/Home" target="_blank">
                <i class="glyphicon glyphicon-log-out"></i>
                Logout
                </a>
             </li>
            </ul>
         </nav>
         <!-- sidebar holder end -->
         <!-- Page Content Holder -->
        <div class="container">
          <div id="content">
             <nav class="navbar navbar-default">
                <div class="">
                   <div class="navbar-header">
                      <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                      <i class="glyphicon glyphicon-align-left"></i>
                      <span>Toggle Sidebar</span>
                      </button>
                  </div>

                   <div class="collapse navbar-collapse" >

                      <ul class="nav navbar-nav navbar-right">
                         <li>
                            <a href="{{ url_for('login.logout') }}">
                            <i class="glyphicon glyphicon-log-out"></i>
                            Logout
                            </a>
                         </li>

                      </ul>
                   </div>
                </div>
             </nav>
             <div>
                <!-- Message Part -->
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                <!--Ends-->
                {% block body %}
                {% endblock %}
             </div>
          </div>

        </div>
      </div>

   </body>
</html>
